<div>
  <div class="row">
    <div class="col-md-11 height-30px">
      <h5>{{title}}</h5>
    </div>
    <div class="col-md-1 t-a-e">
      <button
        (click)="onCancelClick($event)"
        aria-label="Close"
        class="btn-close"
        type="button">
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <form [formGroup]="addNewTopPerformerForm" autocomplete="off" class="kt-form" id="login-form"
          style="padding-top: 25px;">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field style="width: 100%;">
            <mat-label>Employee Name</mat-label>
            <input autocomplete="off"
                   class="user-name"
                   formControlName="employeeName"
                   matInput
                   placeholder="Employee Name"
                   type="text"/>
            <mat-error *ngIf="isControlHasError('employeeName','required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field style="width: 100%;">
            <mat-label>Picture</mat-label>
            <input autocomplete="off"
                   class="first-name"
                   formControlName="picture"
                   matInput
                   placeholder="First Name"
                   type="text"/>
            <mat-error *ngIf="isControlHasError('picture','required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Date</mat-label>
            <input
              matInput [matDatepicker]="picker"
              formControlName="dateStr"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <mat-form-field style="width: 100%;">
          <mat-label>Reason for performing well</mat-label>
          <input autocomplete="off"
                 class="user-name"
                 formControlName="reason"
                 matInput
                 placeholder=""
                 type="text"/>
          <mat-error *ngIf="isControlHasError('reason','required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12 t-a-e">
      <ng-container *ngIf="type != 'VIEW'">
        <button
          (click)="onSave($event)"
          [disabled]="!isValidForm()"
          class="btn btn-primary"
          type="button">
          Save
        </button>
      </ng-container>
      <ng-container>
        <button
          (click)="onCancelClick($event)"
          class="btn btn-secondary m-l-20"
          type="button">
          Cancel
        </button>
      </ng-container>
    </div>
  </div>

</div>
