<div class="container">
  <div class="m-t-50">
    <div class="row">
      <div class="col-md-8">
        <h5>Games</h5>
      </div>
      <div class="col-md-4 t-a-e">
        <button
          (click)="onCreateTopNewGame()"
          *ngIf="isAdmin()"
          color="primary"
          mat-raised-button
          matTooltip="Create new game">Create Game
        </button>
      </div>
    </div>
  </div>

  <div class="card m-t-50">
    <div class="card-body">
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

        <ng-container matColumnDef="gameID">
          <th *matHeaderCellDef mat-header-cell> S/N</th>
          <td *matCellDef="let element" mat-cell> {{element.gameID}} </td>
        </ng-container>

        <ng-container matColumnDef="picture">
          <th *matHeaderCellDef mat-header-cell>Picture</th>
          <td *matCellDef="let element" mat-cell> {{element.picture}} </td>
        </ng-container>

        <ng-container matColumnDef="expiryDateStr">
          <th *matHeaderCellDef mat-header-cell>Expiry Date</th>
          <td *matCellDef="let element" mat-cell> {{element.expiryDateStr}} </td>
        </ng-container>

        <ng-container matColumnDef="createdDateStr">
          <th *matHeaderCellDef mat-header-cell>Created Date</th>
          <td *matCellDef="let element" mat-cell> {{element.createdDateStr}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell>Status</th>
          <td *matCellDef="let element" mat-cell>
            {{ status[element.status] }}
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let row" mat-cell>
            <button (click)="view($event, row)" mat-icon-button
                    matTooltip="View"
                    type="button">
              <mat-icon>visibility</mat-icon>
            </button>
            <button (click)="edit($event,row)" [disabled]="!isAdmin()"
                    mat-icon-button
                    matTooltip="Edit"
                    type="button">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

    </div>
  </div>
</div>
