/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.t-a-c {
  text-align: center !important;
}

;

.t-a-e {
  text-align: end !important;
}

.t-a-c {
  text-align: center;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-l-20 {
  margin-left: 10px;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}
